body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%
}

html {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/* Homepage Component */

.app-page {
  height: 100%;
  width: 100%;
  background-image: url('./images/atmosphere.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-size: 40px;
}
.logo {
  height: 100px;
  width: 100px;
}

.modal-window {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-container {
  margin: auto;
  background-image: url('./images/atmosphere.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  border-radius: 10px;
}

.weatherboard-position {

}

/* Weatherboard Component */

.weatherboard-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 70%;
  color: white;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: white;
  padding-right: 2;
}
.weatherboard-index {
  display: flex;
  justify-content: space-around;
}

/* WeatherboardItem Component */

.weatherboard-item {
  text-align: center;
  cursor: pointer;
}

.temps {
  display: flex;
  justify-content: center;
}

.low-temp {
  display: flex;
  flex-direction: column;
}

.high-temp {
  display: flex;
  flex-direction: column;
}

.temp-min {
  margin-right: 20px;
  height: 5px;
}

.temp-max {
  height: 5px;
}

.low {
  margin-right: 20px;
}

/* Show Component */

.show-container {
  padding: 15px;
}

.show-switch-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
  padding-right: 5px;
}

.show-title {
  margin: 0 0 0 20px;
  font-size: 50px;
}

.show-update {
  margin: 0 10px 0 22px;
  font-weight: 100;

}

.show-current-head {
  display: flex;
  flex-direction: column;
}

.show-current {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  height: 50px;
}

.show-current-icon {
  margin: 15px 0 0px 10px;
  height: 74px;
  width: 74px;
}

.show-current-temp {
  margin-left: 22px;
  margin-top: 5px;
  margin-bottom: 0;
  color: yellow;
  font-size: 60px;
}

.show-current-units {
  font-size: 25px;
  height: 60px;
  margin-top: 15px;
  color: yellow;
}

.show-current-description {
  margin: 0 0 15px 22px;
  font-weight: 500;
}

.show-current-details {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.wind {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.wind-speed {
  font-size: 25px;
  margin: 0 3px 0 0;
}
.wind-content {
  display: flex;
}

.wind-units {
  display: flex;
  flex-direction: column;
}

.deg{
  font-size: 13px;
  margin: 0;
}

.mph {
  font-size: 10px;
  margin: 0;
}

.humidity-container {
  display: flex;
  flex-direction: column;
}

.humidity {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.humidity-content {
  margin: 0;
  font-size: 25px;
}

.pressure {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.pressure-content {
  display: flex;
  margin: 0;
}

.pressure-measurement {
  font-size: 25px;
  margin: 0 5px 0 0;
}

.pressure-pascals {
  font-size: 15px;
  margin: 0;
}

.cloud-container {
  display: flex;
  flex-direction: column;
}

.cloud-coverage {
  font-size: 25px;
  font-weight: 700;
  margin: 0
}

.cloud-per {
  margin: 0;
  font-size: 25px;
}
/* ForecastContainer Component */

.forecast-container {
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  margin: 10px 20px 0 20px;;
  text-align: center;
}

.forecast-title {
  margin: 15px 0 0 15px;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}

.forecast-day {
  margin-bottom: 0;
  margin-top: 0;
}

.forecast-date {
  margin-top: 5px;
  margin-bottom: 0;
}

.forecast-description {
  margin-top: 0;
  font-weight: 200;
}

/* Media Queries */

@media (max-width: 1275px) {
  .title {
    font-size: 40px;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  .item-name {
    font-size: 25px;
  }

  .item-description {
    font-size: 15px;
  }

  .current-temp {
    font-size: 25px;
  }

  .current {
    font-size: 15px;
  }

  .temp-min {
    font-size: 15px
  }

  .temp-max {
    font-size: 15px;
  }

  .low {
    font-size: 10px;
  }

  .high {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 30px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .item-name {
    font-size: 20px;
  }

  .item-description {
    font-size: 12px;
  }

  .current-temp {
    font-size: 20px;
  }

  .current {
    font-size: 12px;
  }

  .temp-min {
    font-size: 12px
  }

  .temp-max {
    font-size: 12px;
  }

  .low {
    font-size: 8px;
  }

  .high {
    font-size: 8px;
  }
}

@media (max-width: 725px) {
  .title {
    font-size: 25px;
  }

  .logo {
    height: 50px;
    width: 850x;
  }
  .item-name {
    font-size: 15px;
  }

  .item-description {
    font-size: 9px;
  }

  .current-temp {
    font-size: 15px;
  }

  .current {
    font-size: 9px;
  }

  .temp-min {
    font-size: 9px
  }

  .temp-max {
    font-size: 9px;
  }

  .low {
    font-size: 6px;
  }

  .high {
    font-size: 6px;
  }
}

@media (max-width: 650px) {
  .show-title {
    font-size: 30px;
  }

  .show-update {
    font-size: 10px;
  }

  .show-current-description {
    font-size: 15px;
  }

  .wind {
    font-size: 15px;
  }

  .wind-speed {
    font-size: 15px;
  }

  .deg{
    font-size: 8px;
  }

  .mph {
    font-size: 8px;
  }

  .humidity {
    font-size: 15px;
  }

  .humidity-content {
    font-size: 15px;
  }

  .pressure {
    font-size: 15px;
  }

  .pressure-measurement {
    font-size: 15px;
  }

  .pressure-pascals {
    font-size: 10px;
  }

  .cloud-coverage {
    font-size: 15px;
  }

  .cloud-per {
    margin: 0;
    font-size: 15px;
  }

  .forecast-title {
    font-size: 19px;
  }

  .forecast-max-temp {
    font-size: 15px;
  }

  .forecast-min-temp {
    font-size: 15px;
  }

  .forecast-description {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .show-title {
    font-size: 20px;
  }

  .show-update {
    font-size: 10px;
  }

  .show-current-description {
    font-size: 10px;
  }

  .wind {
    font-size: 10px;
  }

  .wind-speed {
    font-size: 10px;
  }

  .deg{
    font-size: 5px;
  }

  .mph {
    font-size: 5px;
  }

  .humidity {
    font-size: 10px;
  }

  .humidity-content {
    font-size: 10px;
  }

  .pressure {
    font-size: 10px;
  }

  .pressure-measurement {
    font-size: 10px;
  }

  .pressure-pascals {
    font-size: 8px;
  }

  .cloud-coverage {
    font-size: 10px;
  }

  .cloud-per {
    margin: 0;
    font-size: 10px;
  }

  .forecast-title {
    font-size: 15px;
  }

  .forecast-max-temp {
    font-size: 10px;
  }

  .forecast-min-temp {
    font-size: 10px;
  }

  .forecast-description {
    font-size: 10px;
  }
}
