body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%
}

html {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/* Homepage Component */

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('./images/atmosphere.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.modal-window {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-container {
  margin: auto;
  background-color: #47A1EC;
  color: white;
  border-radius: 10px;
}

/* Weatherboard Component */

.weatherboard-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 70%;
  color: white;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: white;
  padding-right: 2;
}
.weatherboard-index {
  display: flex;
  justify-content: space-around;
}

/* WeatherboardItem Component */

.weatherboard-item {
  text-align: center;
  cursor: pointer;
}

.temps {
  display: flex;
  justify-content: center;
}

.low-temp {
  display: flex;
  flex-direction: column;
}

.high-temp {
  display: flex;
  flex-direction: column;
}

.temp-min {
  margin-right: 20px;
  height: 5px;
}

.temp-max {
  height: 5px;
}

.low {
  margin-right: 20px;
}

/* Show Component */

.show-switch-container {
  display: flex;
  justify-content: flex-end;
}

/* ForecastContainer Component */

.forecast-container {
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  margin: 20px;
}

.forecast-title {
  margin-bottom: 0;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
}

.forecast-day {
  margin-bottom: 0;
}

.forecast-date {
  margin-top: 5px;
}
